/* countdown-bar.module.css */
.countdownContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--gray-line);
    border-radius: 2px;
    overflow: hidden;
}

.countdownBar {
    height: 3px;
    background-color: var(--dark);
    transition: width 1s linear;
}