.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Adjust for medium screens, e.g., tablets */
@media (max-width: 992px) {
    .modal {
        margin-left: 1rem;
        /* background-color: red; */
    }
}

/* Adjust for small screens, e.g., large phones */
@media (max-width: 768px) {
    .modal {
        margin-left: 3rem;
        /* background-color: yellow; */
    }
}

/* Adjust for extra small screens, e.g., small phones */
@media (max-width: 576px) {
    .modal {
        margin-left: 1rem;
        /* background-color: aliceblue; */
    }
}


.title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: var(--title);
}

.timer {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--title);
}

.button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: var(--white);
    cursor: pointer;
    transition: background-color 0.3s ease;
    user-select: none;
}

.hitButton {
    background-color: var(--green);
}

.hitButton:hover {
    background-color: var(--darker-green);
}

.standButton {
    background-color: var(--red);
}

.standButton:hover {
    background-color: var(--darker-red);
}

/* Add styles for disabled buttons for consistency */
.disabledButton {
    background-color: var(--gray-line);
    color: var(--text);
    cursor: not-allowed;
}

.disabledButton:hover {
    background-color: var(--gray-line);
}