.decisionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.innerButtonContainer {
    display: flex;
    flex-direction: row;
}

.button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: var(--white);
    cursor: pointer;
    transition: background-color 0.3s ease;
    user-select: none;
}

@media (max-width: 992px) {
    .button {
        padding: 5px 20px;
    }
}

@media (max-width: 768px) {
    .button {
        padding: 5px 15px;
    }
}

@media (max-width: 576px) {
    .button {
        padding: 5px 12px;
        font-size: 0.9rem;
        font-weight: 500;
    }
}

.timer {
    margin-bottom: 0.5rem;
    color: var(--title);
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.timer span {
    width: 100px;
    width: 20px;
    text-align: justify;
}

.hitButton {
    background-color: var(--green);
}

.hitButton:hover {
    background-color: var(--darker-green);
}

.standButton {
    background-color: var(--red);
}

.standButton:hover {
    background-color: var(--darker-red);
}

/* Add styles for disabled buttons for consistency */
.disabledButton {
    background-color: var(--gray-line);
    color: var(--text);
    cursor: not-allowed;
}

.disabledButton:hover {
    background-color: var(--gray-line);
}