.profileContainer {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.profileImage {
    height: 5.5rem;
    width: 5.5rem;
    min-width: 5.5rem;
    border-radius: 50%;
    border: solid 1px var(--text);
}

.profileInnerContainer {
    margin-left: 1.5rem;
    width: 100%;
}

.profileName {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--title) ;
}

.levelContainer {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.levelContainer img{
    margin-right: 0.5rem;
}

/* custom skeleton part */
.profileSkeletonImage {
    height: 5.5rem;
    width: 5.5rem;
    min-width: 5.5rem;
    border-radius: 50%;
    border: solid 1px var(--white);
    margin-left: 0 !important;
}

.profileNameSkeleton {
    height: 1.5rem;
    width: 100%;
    max-width: 14rem;
    border: solid 1px var(--white);
}

.profileLevelSkeleton {
    height: 20px;
    width: 5rem;
    border: solid 1px var(--white);
    margin-top: 0.5rem;
}