.container {
    height: 100vh;
    max-width: 900px;
    margin: 0 auto;
    padding: 2.5rem 2rem;
    display: flex;
    flex-direction: column;
}

/* Adjust for medium screens, e.g., tablets */
@media (max-width: 992px) {
    .container {
        padding: 2.5rem 1.5rem;
        max-width: 85%;
        margin-left: 5.5rem;
        /* background-color: red; */
    }
}

/* Adjust for small screens, e.g., large phones */
@media (max-width: 768px) {
    .container {
        padding: 2.5rem 1rem;
        max-width: 75%;
        margin-left: 7rem;
        /* background-color: yellow; */
    }
}

/* Adjust for extra small screens, e.g., small phones */
@media (max-width: 576px) {
    .container {
        padding: 2.5rem 0.5rem;
        flex-direction: column;
        max-width: 99%;
        min-width: 300px;
        margin: auto;
        /* background-color: blue; */
    }
}

.gameContainer {
    position: relative;
    z-index: -1;
    padding: 0.5rem;
    margin-top: 0.5rem;
    /* margin-bottom: 2rem; */
    min-height: 345px;
    /* box-shadow: 0 7px 4px var(--gray-line); */
}

.gameContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/game-table.jpg') no-repeat center center / cover;
    opacity: 0.2;
    z-index: -1;
    border-radius: 2%;
    border: solid 1px black;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.gameFooterContainer {
    background-color: var(--white);
    margin-top: -5px;
    border: solid 1px var(--gray-line);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    min-height: 100px;
    padding: 0.5rem;
    width: calc(100% + 1px);
    /* margin-left: -1px; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.skeletonGameContainer {
    position: relative;
    z-index: -1;
    margin-top: 0.5rem;
    width: calc(100% + 2px);
    margin-left: -1px;
    min-height: 345px;
    border-radius: 2%;
    border: solid 1px var(--white);
}